version: "3.9"

services:
  backend:
    build: ./backend
    ports:
      - "8005:8000"
    environment:
      GRAFANA_URL: http://grafana:3000
      GRAFANA_SERVICE_ACCOUNT_TOKEN: 
    networks:
      - app_net
      - grafana_net

  frontend:
    build: ./frontend
    ports:
      - "5173:80"
    depends_on:
      - backend
    networks:
      - app_net

networks:
  app_net:
    driver: bridge

  grafana_net:
    external: true
    name: monitoring_monitoring
